<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Настройки - <%- data.user.firstName %> <%- data.user.lastName %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles -->

    <link href="/css/navbar.css" rel="stylesheet">

</head>

<body>

<div class="container">
    <nav class="navbar navbar-default" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#" data-toggle="modal" data-target="#newEventModal"><span
                        class="glyphicon glyphicon-plus-sign"></span> Создать событие</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="active"><a href="/user">Моя страница</a></li>
                <li><a href="news">Новости</a></li>

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span
                                class="glyphicon glyphicon-th-large"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/history">История</a></li>
                        <li><a href="/setting">Настройки</a></li>
                        <li><a href="#" id="exit">Выйти</a></li>
                        <li class="divider"></li>
                        <li><a href="/about">О проекте</a></li>
                        <li><a href="/security">Безопасность</a></li>
                        <li><a href="/agreement">Оферта</a></li>
                        <li class="divider"></li>
                        <li><a href="/feedback">Обратная связь</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->

        <!-- Main component for a primary marketing message or call to action -->


    </nav>

    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#profile" data-toggle="tab">Прфиль</a></li>
        <li><a href="#alerts" data-toggle="tab">Оповещения</a></li>
        <li><a href="#reports" data-toggle="tab">Отчеты</a></li>
        <li><a href="#donates" data-toggle="tab">Пожертвования</a></li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div class="tab-pane active" id="profile">
            Настройки профиля
        </div>
        <div class="tab-pane" id="alerts">Настройки оповещений</div>
        <div class="tab-pane" id="reports">Настройки получаемых отчетов</div>
        <div class="tab-pane" id="donates">Настройки пожертвований</div>
    </div>

    <div class="jumbotron">
        <h1>Страница настроек</h1>

        <p>This example is a quick exercise to illustrate how the default, static navbar and fixed to top navbar
            work. It includes the responsive CSS and HTML, so it also adapts to your viewport and device.</p>


    </div>
</div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/js/user.js"></script>
<script src="/js/event.js"></script>
</body>
</html>
